<h1>{{title}}</h1>
<h2>Available Routes</h2>
<h3>Products</h3>
<dl>
  <dt><span>GET</span><span>/api/products</span></dt>
  <dt><span>GET</span><span>/api/products/find/:name</span></dt>
  <dt><span>POST</span><span>/api/products/add</span></dt>
  <dt><span>POST</span><span>/api/products/addMultiple</span></dt>
  <dt><span>PATCH</span><span>/api/products/update/:id</span></dt>
  <dt><span>DELETE</span><span>/api/products/delete/:id</span></dt>
</dl>
